@charset "utf-8";

/* init */
* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Roboto Condensed', 'Nanum Gothic', sans-serif;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    text-align: center;
    transition-timing-function: ease-in-out;
}

a {
    text-decoration: none;
}

span {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

input, textarea{
    text-align: left;
    padding: 3px;
}

body {
    min-width: 1200px;
    min-height: 500px;
    background: #000000;
}

.wrap {
    position: relative;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex.row {
    flex-direction: row;
}

.flex.wrapper {
    flex-wrap: wrap;
}

.button {
    margin: 0 3px;
    width: 40px;
    border: 1px solid #000000;
    background: #CCCCCC;
    cursor: pointer;
}

/* visual */
#visual {
    position: relative;
    width: 1200px;
    height: 500px;
    overflow: hidden;
}

#visual .background {
    width: 100%;
    height: 100%;
    background: url("images/background1.jpg");
    background-size: cover;
    background-position: center;
}

#visual .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#visual .header h1 {
    color: #FFFFFF;
    font-size: 70px;
}

/* content */
.container {
    width: 100%;
    max-width: 1200px;
    min-height: calc(100vh - 500px);
    justify-content: flex-start;
    align-items: stretch;
    background: #EEEEEE;
}

.menu {
    width: 250px;
    background: #1B242F;
    justify-content: flex-start;
}

.menu .option {
    margin: 15px 0; 
    width: 80%;
    height: 100px;
    background: #09085e;
    border: 5px solid #070646;

    color: #FFF;
    font-size: 30px;
    cursor: pointer;
}

/* post */
.mainpage {
    width: calc(100% - 250px);
    margin: 50px 0;
    justify-content: flex-start;
}

.mainpage > section {
    width: 90%;
    /* border: 1px solid #000000;
    background: #EEEEEE; */
    display: none;
}

.mainpage > .active {
    display: flex;
}

.post {
    width: 90%;
    height: 30px;
    border: 1px solid #000000;
}

.post-header {
    width: 90%;
    padding: 5px 0;
    border: 1px solid #000000;
    background-color: #BBBBBB;
}

.post-header span {
    font-weight: bold;
}

.post-read {
    width: 100%;
}

.post-list .num {
    width: 70px;
}

.post-list .title {
    flex-grow: 1;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.post-list .user {
    width: 100px;
}

.post-list .date {
    width: 150px;
}

.post-list .control {
    width: 120px;
}

/* new */

.post-new > div {
    margin: 10px 0;
}

.post-new .top {
    width: 90%;
}

.post-new .title {
    width: 70%;
}

.post-new .name {
    width: 30%;
}

.post-new input {
    flex-grow: 1;
    margin: 0 15px;
}

.post-new .center {
    width: 90%;
}

#post-new-content {
    width: 100%;
    height: 300px;
}

.post-new .bottom {
    width: 90%;
    justify-content: flex-end;
}

/* post read */
.post-view {
    border: 1px solid #000000;
}

.post-view-main {
    width: 100%;
    border-bottom: 1px solid #000000;
}

.post-view-main .header {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #000000;
}
.post-view-main span {
    display: inline-block;
}

.post-view-main .num {
    width: 80px;
}

.post-view-main .title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-view-main .user {
    width: 200px;
}

.post-view-main .date {
    width: 150px;
}

.post-view-main .content {
    padding: 10px;
    width: calc(100% - 20px);
    min-height: 300px;
    background: #FFFFFF;
    text-align: left;
    white-space: pre-line;
}

/* 댓글 */
.comment-main {
    width: 100%;
}

/* comment-header */
.comment-header {
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #000000;
}

/* comment-write */
.comment-write {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #000000;
}

.comment-write .name {
    width: 250px;
}

.comment-write .content {
    flex-grow: 1;
}

.comment-write .control {
    width: 100px;
}

.comment-write label {
    margin: 10px;
}

.comment-write input {
    flex-grow: 1;
    margin: 0 5px;
}

/* comment-view */
.comment-read {
    width: 100%;
}

.comment {
    padding: 5px 0;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #000000;
}

.comment:last-child {
    border-bottom: none;
}

.comment .user {
    width: 100px;
    margin-left: 10px;
    text-align: left;
}

.comment .content {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.comment .date {
    width: 150px;
}

.comment .control {
    width: 100px;
}